* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 400px;
  height: auto;
  margin: 50px auto;
  background-color: #575757;
  border: 1px solid #575757;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 24px;
  text-align: right;
  border-radius: 10px;
  border: none;
  background-color: #bcd1c0;
  font-size: 50px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 10px;
}

.buttons button:hover {
  background-color: #cbcaca;
}

button {
  padding: 20px;
  font-size: 25px;
  border: 2px solid #575757;
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;
}

.button:active {
  background-color: #ddd;
}

button.equal {
  background-color: #ff9500;
  font-weight: bold;
  font-size: 30px;
}

button.subtract {
  background-color: #ff9500;
  font-weight: bold;
  font-size: 30px;
}

button.multiply {
  background-color: #ff9500;
  font-weight: bold;
  font-size: 30px;
}

button.divide {
  background-color: #ff9500;
  font-weight: bold;
  font-size: 30px;
}

button.add {
  grid-row: span 2;
  background-color: #ff9500;
  font-weight: bold;
  font-size: 30px;
}

button.clear {
  grid-column: span 2;
  background-color: #d94c45;
  font-weight: bold;
  font-size: 30px;
}
